name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    services:
      pgsql:
        image: bitnami/postgresql:17.4.0
        env:
          ALLOW_EMPTY_PASSWORD: "yes"
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

      redis:
        image: bitnami/redis:7.4
        env:
          ALLOW_EMPTY_PASSWORD: "yes"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        run: docker compose up -d --build

      - name: Trust app directory in Git
        run: docker compose exec -T php git config --global --add safe.directory /app

      - name: Set permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Prepare .env files
        run: |
          cp .env.example .env
          cp .env.testing.example .env.testing
      - name: Install dependencies
        run: docker compose exec -T php composer install

      - name: Generate app keys
        run: |
          docker compose exec -T php php artisan key:generate
          docker compose exec -T php php artisan jwt:secret --force
          docker compose exec -T php php artisan key:generate --env=testing
          docker compose exec -T php php artisan jwt:secret --env=testing --force

      - name: Run migrations
        run: docker compose exec -T php php artisan migrate --force

      - name: Run linter
        run: docker compose exec -T php composer exec -- phpcs --standard=PSR12 app database routes tests

      - name: Run tests
        run: docker compose exec -T php php artisan test --env=testing
